<div class="adnatHeader">
  <h1>ADNAT</h1>
</div>
<div class="adnatPageHeader">
    <h2>Sign Up</h2>
</div>
<div>
  <form id="adnatSignUpForm">
    <div class="adnatLoginInputBlock">
      <label for="adnatLoginEmail">Email: </label>
      <input type="text" name="email" id="adnatLoginEmail" required>
    </div>
    <div class="adnatLoginInputBlock">
      <label for="adnatLoginPassword">Password: </label>
      <input type="text" name="email" id="adnatLoginPassword" required>
    </div>
    <div class="adnatLoginInputBlock">
      <input type="checkbox" name="email" id="adnatLoginRememberMe" required>
      <label for="adnatLoginRememberMe">remember me </label>
    </div>
    <div class="adnatLoginInputBlock" id="adnatLoginButton">
      <input type="submit" value="Log In">
    </div>
    <div><a href="#">Sign Up</a></div>
    <div><a href="#">Forgot your Password?</a></div>
  </form>
