<p>
  <strong>Organisation Name:</strong>
  <%= @organisation.org_name %>
</p>
<p>
  <strong>Hourly Rate:</strong>
  <%= @organisation.hourly_rate %>
</p>

<%= link_to 'Edit', organisations_path(@organisation) %>
<%= link_to 'Back', organisations_path %>
